{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Đăng nhập{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Tên người dùng</label>
    <input name="username" id="username" required>
    <p>

    </p>
    <label for="password">Mật khẩu</label>
    <input type="password" name="password" id="password" required>
    <p>

    </p>
    <input type="submit" value="Đăng nhập">
    <input type="button" href="{{ url_for('auth.register') }}" value="Tạo tài khoản">
  </form>

{% endblock %}